<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <%- include('common/head'); %>

  <body>
    <!-- Header Section start -->
    <%- include('common/header'); %>
    <!-- Header  Section start -->

    <!-- breedcrumb section start  -->
    <div class="section breedcrumb">
      <div class="breedcrumb__img-wrapper">
        <img src="src/images/banner/breedcrumb.jpg" alt="breedcrumb" />
        <div class="container">
          <ul class="breedcrumb__content">
            <li>
              <a href="/">
                <svg
                  width="18"
                  height="19"
                  viewBox="0 0 18 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 8L9 1L17 8V18H12V14C12 13.2044 11.6839 12.4413 11.1213 11.8787C10.5587 11.3161 9.79565 11 9 11C8.20435 11 7.44129 11.3161 6.87868 11.8787C6.31607 12.4413 6 13.2044 6 14V18H1V8Z"
                    stroke="#808080"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span> > </span>
              </a>
            </li>
            <li class="active"><a href="/blog2">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- breedcrumb section end   -->

    <!-- Single blog section start  -->
    <section class="single-blog section">
      <div class="container">
        <div class="row single-blog__content">
          <div class="col-lg-12">
            <div class="single-blog__product-content">
              <div class="single-blog__img-wrapper one">
                <img src="src/images/blogs/blog2.jpg" alt="products" />
              </div>
              <div class="single-blog--tag-info">
                <div class="single-blog--tag-item">
                  <span class="icon">
                    <svg
                      width="20"
                      height="21"
                      viewBox="0 0 20 21"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M17.1584 11.6753L11.1834 17.6503C11.0286 17.8053 10.8448 17.9282 10.6425 18.0121C10.4402 18.096 10.2233 18.1391 10.0042 18.1391C9.78522 18.1391 9.56834 18.096 9.36601 18.0121C9.16368 17.9282 8.97987 17.8053 8.82508 17.6503L1.66675 10.5003V2.16699H10.0001L17.1584 9.32533C17.4688 9.6376 17.6431 10.06 17.6431 10.5003C17.6431 10.9406 17.4688 11.3631 17.1584 11.6753V11.6753Z"
                        stroke="#00B307"
                        stroke-width="1.2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M5.8335 6.33398H5.84183"
                        stroke="#00B307"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                  <p>Grocery Importance</p>
                </div>
              </div>
              <h2 class="font-title--sm blog-head-title">
                Is The Online Grocery Shopping and Delivery System Worth?
              </h2>
            </div>

            <!-- Text Contents of Blogs  -->
            <div class="single-blog__inner-content">
              <p>
                The recent era has seen the fast-paced lifestyle of people who
                are so busy in their work and lifestyle to even manage the
                regular routine and considers it a time drain. Grocery shopping
                has been a significant part of people’s lifestyle. It is
                required once a week to shop for groceries. And the grocery
                visit takes significant time to spend. However, this issue is
                solved by online grocery purchasing. Customers can sit and order
                from the comfort of their homes. Thus, this has turned to be the
                proper solution to the problem.
              </p>

              <p>
                The online grocery and delivery service has become one of the
                most useful ways to buy groceries and get items delivered to
                your doorstep. With the second wave of Covid-19 pandemic
                knocking at the door, customers are increasingly buying
                groceries online and getting items delivered to their place. In
                this context, it is relevant to acknowledge the different facets
                of Online Grocery Shopping and how it is useful in saving time
                in your busy life.
              </p>

              <h3>Benefits of Shopping Online for Groceries</h3>
              <br />

              <h5>Diminishing impulse purchases</h5>

              <p>
                Whenever you visit the supermarket grocery store, there are
                chances that the Magnum at the icecream department draws your
                attention and you just cannot avoid buying it. These are the
                potential impulse purchases. Impulse buys have the ability to
                affect the essential grocery budget. Contrary to this, a grocery
                delivery system helps you to choose your grocery items
                efficiently and without the influence of any alluring items.
                Only you add the essential grocery items to your virtual cart
                and then proceed for checkout.
              </p>

              <h4>Time-saving</h4>
              <br />

              <p>
                If you have a busy everyday schedule, then you will not be able
                to make it to the grocery store. In this case, the best option
                is to buy from online grocery stores. It will give you more time
                to work, have leisure time to utilize and spend with family. You
                can make productive usage of this time to your other works.
              </p>

              <h4>Various Disadvantages of Online Shopping</h4>
              <br />

              <div class="single-blog__img-wrapper two">
                <img src="src/images/blogs/blog2_1.jpg" alt="sm-img " />
              </div>

              <br />

              <h4>Compare prices</h4>
              <br />
              <p>
                During the time of offline shopping, customers don't have the
                patience and time to compare prices of units. Thus, it may lead
                to more expenses. However, this is not the scene in online
                grocery shopping stores. In online shopping, you can compare the
                prices of units easily. This gives you ample time to sort out
                your grocery budget and select items within it.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Single blog section  end  -->

    <script src="src/lib/js/jquery.min.js"></script>
    <script src="src/lib/js/swiper-bundle.min.js"></script>
    <script src="src/lib/js/bvselect.js"></script>
    <script src="src/lib/js/bootstrap.bundle.min.js"></script>
    <script src="src/js/main.js"></script>
  </body>
</html>
