<div class="menu">
  <div class="menu-header">
    <a href="/admin/" class="menu-header-logo">
      <h4>Admin Dashboard</h4>
    </a>
    <a href="" class="btn btn-sm menu-close-btn">
      <i class="bi bi-x"></i>
    </a>
  </div>
  <div class="menu-body">
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center" data-bs-toggle="dropdown">
        <div class="avatar me-3">
          <img
            src="data:<%= admin.image.contentType %>;base64,<%= admin.image.data.toString('base64') %>"
            class="rounded-circle"
            alt="image"
          />
        </div>
        <div>
          <div class="fw-bold"><%= admin.name%></div>
          <small class="text-muted">Admin</small>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-end">
        <a
          href="/admin/admin_profile"
          class="dropdown-item d-flex align-items-center"
        >
          <i class="bi bi-person dropdown-item-icon"></i> Profile
        </a>

        <a
          href="/admin/admin_logout"
          class="dropdown-item d-flex align-items-center"
        >
          <i class="bi bi-box-arrow-right dropdown-item-icon"></i> Logout
        </a>
      </div>
    </div>
    <ul>
      <li class="menu-divider">Side Menu</li>
      <li>
        <a href="/admin/">
          <span class="nav-link-icon">
            <i class="bi bi-bar-chart"></i>
          </span>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/admin/admin_customer">
          <span class="nav-link-icon">
            <i class="bi bi-person-badge"></i>
          </span>
          <span>Customers</span>
        </a>
      </li>
      <li>
        <a href="/admin/admin_grocery_store_details">
          <span class="nav-link-icon">
            <i class="bi bi-person"></i>
          </span>
          <span>Grocery Store Details</span>
        </a>
      </li>
      <li>
        <a href="/admin/admin_profile">
          <span class="nav-link-icon">
            <i class="bi bi-person"></i>
          </span>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-link-icon">
            <i class="bi bi-receipt"></i>
          </span>
          <span>Orders</span>
        </a>
        <ul>
          <li>
            <a href="/admin/admin_pending_order_list">Order Request</a>
          </li>
          <li>
            <a href="/admin/admin_processing_order_list">Processing Order</a>
          </li>
          <li>
            <a href="/admin/admin_shipped_order_list">Shipped Order</a>
          </li>
          <li>
            <a href="/admin/admin_completed_order_list">Completed Order</a>
          </li>
          <li>
            <a href="/admin/admin_reject_order_list">Rejected Order</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">
          <span class="nav-link-icon">
            <i class="bi bi-truck"></i>
          </span>
          <span>Product Category</span>
        </a>
        <ul>
          <li>
            <a href="/admin/admin_add_product_category">Add Product Category</a>
          </li>
          <li>
            <a href="/admin/admin_all_category">All Category</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">
          <span class="nav-link-icon">
            <i class="bi bi-truck"></i>
          </span>
          <span>Products</span>
        </a>
        <ul>
          <li>
            <a href="/admin/admin_add_new_product">Add New Products</a>
          </li>
          <li>
            <a href="/admin/admin_all_product">All Product</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/admin/admin_logout">
          <span class="nav-link-icon">
            <i class="bi bi-bar-chart"></i>
          </span>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- ./  menu -->
